/*
CSS Name: Woman’s Day
Author: Anndriu U.
Description: Reconstruction of a magazine design using HTML and CSS.
             For this exercise, I use grid to organize all sections of the page. 
             Unlike my previous exercises, I added styles directly to the tags or classes. 
             I also included a few classes in the HTML to identify each section and ventured 
             into using variables for font types and font sizes.
Version: 1.0
*/

/* -----------
    Variables 
   -----------*/
:root {
    --font-type: "Merriweather", serif;
    --font-weight: 300;
    --font-style: normal;
    --font-type-issue: "Lora", serif;
    --font-weight-issue: 400;
    --font-style-issue: normal;
    --font-size-1: 13vw;
    --font-size-2: 9vw;
    --font-size-4: 4vw;
    --font-size-5: 3vw;
    --font-size-3: 2vw;
    --font-size-6: 1.6vw;
    --font-size-7: 1.4vw;
    --font-size-8: 1.3vw;
    --font-size-9: 1.2vw;
}

/* --------
    Global 
   --------*/
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-style: normal;
    line-height: 1.4;
    hyphens: auto;
    background-color: rgb(255, 255, 255);
}

/* --------
     Frame 
   --------*/
.header { grid-area: header; }
.live-well { grid-area: live-well; }
.take-time { grid-area: take-time; }
.health { grid-area: health; }
.img-womans-day { grid-area: img-womans-day; }
.on-our-cover { grid-area: on-our-cover; }
.footer { grid-area: footer; }

.grid-container {
    width: 85%;
    margin: 0px auto 0px auto;
    display: grid;
    grid-template-areas:
        "header header"
        "img-womans-day live-well"
        "img-womans-day take-time"
        "on-our-cover health"
        "on-our-cover health"
        "footer footer";
    grid-template-columns: 1fr 1.2fr;
}

/* ---------
     Header 
   ---------*/
/* This CSS is quite interesting, because it 
   swaps the Title and Paragraph lines. */
.header h1 { grid-area: title; }
.header p { grid-area: paragraph; }

.header {
    display: grid;
    grid-template-areas: 
        "paragraph"
        "title";
    grid-template-columns: auto;
}

/* ---------
     Header 
   ---------*/
header h1 {
    text-align: center;
    font-size: var(--font-size-1);
    color: #f95e26;
    margin-top: 0;
    margin-bottom: 40px;
    text-transform: lowercase;
    font-family: var(--font-type);
    font-weight: var(--font-weight);
    font-style: var(--font-style);
}

header p {
    text-align: left;
    font-size: var(--font-size-3);
    color: #000000;
    margin-left: 3vw;
    margin-top: 3vw;
    text-transform: uppercase;
    font-family: var(--font-type-issue);
    font-weight: var(--font-weight-issue);
    font-style: var(--font-style-issue);
}

/* ----------
    Sections 
   ----------*/
section {
    width: 80%;
    padding: 0px 0px 20px 50px;
}

section h2 {
    font-size: var(--font-size-4);
    margin-left: -50px;
    text-transform: lowercase;
    font-family: var(--font-type);
    font-weight: var(--font-weight);
    font-style: var(--font-style);
}

section h3 {
    text-transform: uppercase;
    font-size: var(--font-size-7);
}

section p {
    font-size: var(--font-size-8);
}

section h3,
section p {
    display: inline;
} 

section abbr {
    font-weight: bold;
}

section strong {
    font-weight: bold;
}

/* ----------------
     Color section  
   ----------------*/
.live-well {
    border-top: 20px solid #699f27;
}

.live-well h3 {
    color: #699f27;
}

.take-time {
    border-top: 20px solid #e82478;
}

.take-time h3 {
    color: #e82478;
}

.health {
    border-top: 20px solid #159da9;
}

.health h3 {
    color: #159da9;
}

/* ---------
     Image 
   ---------*/
aside {
    padding: 0px 10px 20px 50px;
}

aside img {
    max-width: 100%;
    height: auto;
}

figcaption {
    color:white;
    position: absolute;
    transform: translate(0%, -110%);
    padding: 10px 10px 10px 110px;
    font-family: var(--font-type-issue);
    font-weight: var(--font-weight-issue);
    font-style: var(--font-style-issue);
}

figcaption em {
    font-size: var(--font-size-2);
}

figcaption span {
    display: block;
    font-size: var(--font-size-9);
}

/* ---------
     Aside 
   ---------*/
.card-content {
    padding: 20px; 
    border: 2px solid #f95e26; 
    border-radius: 5px;
    box-shadow: 12px 12px 5px rgba(0, 0, 0, 0.1);
}

.on-our-cover {
    font-weight: bold;
    padding: 0px 50px 0px 50px;
    line-height: 1.9;
}

.on-our-cover h2 {
    font-size: var(--font-size-5);
    font-family: var(--font-type);
    font-weight: var(--font-weight);
    font-style: var(--font-style);
    text-transform: lowercase;
}

.on-our-cover em {
    font-size: var(--font-size-9);
    text-transform: uppercase;
}

.on-our-cover p {
    font-size: var(--font-size-9);
}

.on-our-cover ol {
    font-size: var(--font-size-9);
    padding-left: 80px;
}

/* ---------
     Footer 
   ---------*/
footer {
    text-align: right;
    font-size: var(--font-size-6);
    text-transform: uppercase;
    padding: 50px 50px 50px 30px;
}

footer em {
    color: #f95e26;
}

footer strong {
    padding-left: 40px;
}

/* --------------
     Media Query 
   --------------*/
@media (max-width: 1200px) {
    /* -----------
        Variables 
       -----------*/
    :root {
        --font-size-1: 14vw;
        --font-size-2: 10vw;
        --font-size-4: 5vw;
        --font-size-5: 4vw;
        --font-size-3: 3vw;
        --font-size-6: 3vw;
        --font-size-7: 3vw;
        --font-size-8: 3vw;
        --font-size-9: 2.5vw;
    }
    /* -------
        Frame 
       -------*/
    .grid-container {
        width: 100%;
        display: grid;
        grid-template-areas:
            "header"
            "img-womans-day"
            "live-well"
            "take-time"
            "health"
            "on-our-cover"
            "footer";
        grid-template-columns: 1fr;
    }

    .img-womans-day {
        display: none;
    }

    section,
    aside {
        margin: 0 auto;
    }
}
